
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-primary fixed-bottom">
    <span class="navbar-brand" routerLink=""><img src="./assets/img/logo.png" id="logo" width="30" height="30"
        class="d-inline-block align-top" alt="">
    </span>
    <div class="page-links">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="music">MUSIC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin">ADD</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<body>
  <div class="container">
    <!-- <h1>{{title}}</h1> -->
    <router-outlet></router-outlet>
  </div>
</body>