

 <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" id="closebtn" class="hvr-grow" onclick="closeNav()">&times;</a>
    <div id="moveDown">
        <a routerLink="" class="hvr-grow">A HYMN</a>
        <a routerLink="music" class="hvr-grow">MUSIC WALL</a>
        <a routerLink="admin" class="hvr-grow">NEW / UPDATE</a>
    </div>

  </div>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()" class="nav-hamburger hvr-grow">&#9776;</span>

<body>

    <router-outlet></router-outlet>

</body>