input {
    display: none;
  }
  
  .image-upload-container {
    cursor: pointer;
  }
  
  .img-preview-container {
    position: relative;
    padding-bottom: 20px;

    .img-preview {
      padding-bottom: 20px;
      background: left;
      background-repeat: no-repeat;
      background-size: contain;
      height: 120px;
    }
  }