@import url('https://fonts.googleapis.com/css?family=B612+Mono|Roboto');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');

  

* {
    text-transform: lowercase;
}

body {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0);
}



  /* NAVBAR */

  .nav-hamburger {
    color: rgb(255, 217, 0);
    position: fixed;
    right: 0;
    top: 5px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-hamburger:hover {
    color: rgb(38, 0, 255);
    transition: 0.2s;
  }

  .sidenav {
    animation: pulse 5s infinite;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #e700fc;
    overflow-x: hidden;
    transition: 0.75s;
    padding-top: 30px;
    opacity: 3.5px;
  }
  
  .sidenav a {
    padding: 15px 10px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.75s;
    color: rgb(255, 255, 255);
  }

  .sidenav a:hover {
    padding: 15px 10px 10px 30px;
    text-decoration: none;
    font-size: 28px;
    display: block;
    transition: 0.2s;
    color: rgb(255, 217, 0);
  }
  
   #closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 35px;
    padding: 10px 10px 50px 30px;
    text-decoration: none;
    display: inline;
    transition: 0.5s;
    color: rgb(255, 255, 255);
  }

  #closebtn:hover {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 35px;
    padding: 10px 10px 50px 30px;
    text-decoration: none;
    display: inline;
    transition: 0.5s;
    color: rgb(0, 255, 255);
  }

  #moveDown {
      margin-top: 40px;
  }

  
  @keyframes pulse {
    0% {
      background-color: rgb(230, 65, 0);
    }
    25% {
         background-color: rgb(226, 155, 0);
    }
    50% {
        background-color: rgb(179, 255, 0);
      }
      75% {
        background-color: rgb(255, 208, 0);
      }
    100% {
         background-color: rgb(230, 65, 0);
    }
  }













/* HOME PAGE */

#mainTitle {
    font-family: 'B612 Mono', monospace;
    font-size: 8em;
    z-index: 1;
}



/* TYPE AREA */

h1 {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 3em;
    color: rgb(223, 223, 223);
}

h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: rgb(216, 216, 216);
    font-size: 1.4em;
}

p {
    color: rgb(133, 133, 133);
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
}





/* BUTTON AREA */

button {
    background-color: black;
    color: white;
    padding: .2em 1em .2em 1em;
    font-size: .8em;
    width: 120px;;
    height: 30px;
}
button:hover {
    background-color: rgb(0, 222, 230);
    color: white;
    padding: .2em 1em .2em 1em;
    font-size: .8em;
    width: 120px;;
    height: 30px;
}





/* INPUT AREA */

input {
    padding: .3em;
    margin: .3em;
    width: 300px;
    box-shadow: 5px 5px 9px #dbdbdb;
    border: 1px rgb(255, 238, 0) solid;
}

::placeholder {
    color: rgb(187, 187, 187);
    padding-left: 10px;
    font-family: 'B612 Mono', monospace;
}


#musicBlock {
    width: 300px;
    padding: 2em;
    display: inline;
}





/* NEW PAGE */

#updateSection {
    padding-top: 100px;
    padding-bottom: 50px;
}

#imageUploadButton {
    font-size: .8em;
    color: white;
}

.image-upload-container {
    background-color: rgb(251, 255, 0);
    color: black;
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    cursor: pointer;
}


.image-upload-container:hover {
    background-color: rgb(228, 53, 0);
    color: white;
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 1em;
}

.imageUploadButton {
    font-size: .8em;
}

.img-preview {
    background: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
}


.img-preview:hover {
    box-shadow: 5px 10px 18px #ff0000;
}





/* MUSIC PAGE */

#songSection {
    padding-bottom: 100px;
}

#songPhoto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

#songTitle {
    padding: 1em 0 0 .5em;
    color: black;
}

#songArtist {
    padding-left: .5em;
    color: rgb(197, 197, 197);
}

#songDate {
    padding-left: 1.5em;
    color: rgb(214, 214, 214);
}

#songWhy {
    padding-left: 1.5em;
    color: rgb(104, 104, 104);
}

#songWho {
    color: red;
    padding-left: 1.5em;
    margin-top: -10px;
}







/* MUSIC DETAIL PAGE */

#detailSection {
    border: rgb(255, 0, 255) 2px solid;
    border-radius: 5px;
    padding: 4em;
}

#photoDetail {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
}

#titleDetail {
    font-family: 'B612 Mono', monospace;
    font-size: 3em;
    color: rgb(44, 44, 44);
    padding-top: 5%;
}

#backButton {
 padding-top: 3em;
}


.fas {
    color: blue;
    font-size: 3em;
}







/* OTHER */

.navbar-toggler {
    color: rgb(106, 158, 207);
}

input {
    cursor: text;
}




/* MEDIA QUERIES */


@media (max-width: 992px) {
    body {
        padding: 60px;
    }
}


@media (max-width: 768px) {
    body {
        padding: 60px;
    }
}



@media (max-width: 576px) {

    body {
        padding: 20px;
    }
    #photoDetail {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    #songSection {
        padding-left: 0px;
    }
    #editArea {
        padding: 0;
        margin: 0;
    }
    #updateSection {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    #musicBlock {
        width: 10px;
        padding: 0;
        display: inline;
    }
    input {
        width: 80%;
    }
    

}




/* ANIMATIONS */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  /* Shrink */
  .hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  /* ICONS */
/* Icon Back */
.hvr-icon-back {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
  .hvr-icon-back .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-back:hover .hvr-icon, .hvr-icon-back:focus .hvr-icon, .hvr-icon-back:active .hvr-icon {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }
