input {
    display: none;
  }
  
  .image-upload-container {
    cursor: pointer;
  }
  
  .img-preview-container {
    position: relative;
    .img-preview {
      background: left;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
    }
  }