<h1>MUNTUNES</h1>
<div class="container">
    <img>
    <p>I’m what some people refer to as a “unicorn”, in that I’m skilled in both design & development. But I just say I’m a Front-End Web Developer. I’ve worked at a few marketing agencies as both a graphic designer & web designer. I’m proficient with most of the Adobe apps as well as Sketch, Craft & Invision. In 2016, I graduated from the University of Oregon with a BFA in Art + Technology, more recently I’ve been enrolled in Epicodus, an intensive 6 month coding bootcamp (July 2019, graduation). I’ve coded with languages/frameworks such as html, css, scss, javascript, jQuery, C#, ASP.NET Core, Angular, Typescript & React. I hope to combine my love for art, design & coding to make interactive & meaningful work.
        My co-workers have described me as “easy going, positive, bright, enthusiastic, inquisitive, diligent, collaborative, willing & loyal”, some pretty nice words if you ask me. Side note: my name actually means “bright and clear” in latin, so I laugh.</p>
    <a href="claramunro.com">claramunro.com</a>
    <br>
    <a href="https://github.com/claramunro">github.com/claramunro</a>

</div>
  